.about-us-div {
  border: solid 1px #1e7e34;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 1em;
  min-height: 400px;
}

@media only screen and (max-width: $medium-device-size) {
  .about-us-div {
    .details {
      font-size: 0.8em;
    }
  }
}