@import "../variables";

.popover {

  border-radius: 10px;
  max-width: 100%;

  .arrow {
    display: none;
  }

  .non-empty-cart {
    width: 400px;
    font-size: 0.9em;
    font-weight: 300;
    padding: 13px;
    box-shadow: 0 1px 2px #c4c4c4;

    .class-product-list {
      max-height: 350px;
      overflow-y: scroll;

      .cart-product {
        border-bottom: 1px solid #dedede;

        .small-cents {
          font-size: 0.7em;
        }

        .cart-product-image {
          max-width: 100%;
          height: auto;
        }

        .cart-product-price {
          color: #4caf50;
          overflow-x: auto;
        }

        .cart-product-name {
          text-transform: capitalize;
        }

        .cart-product-qty {
          padding-bottom: 10px;
          color: #7e7e7e;
        }

        .cart-product-delete-btn {
          color: #3c6382;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .cart-discount {
      padding-bottom: 5px;
      border-bottom: 1px solid #dedede;
    }

    .cart-discount-price {
      font-weight: 500;
      color: #616161;
    }

    .cart-subtotal-price, .cart-Total-price {
      color: #c82333;
      font-weight: 500;
    }

    .cart-checkout-btn {
      background-color: #4caf50;
      border: unset;
      color: white;
      border-radius: 20px;
      font-size: 0.8em;
      padding: 7px 35px;

      &:hover {
        background-color: #74e079;
      }
    }

    .checkout-btn:hover {
      background-color: #74e079;
    }
  }
}

.empty-cart {
  width: 190px;
  font-size: 0.9em;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 1px 7px #c4c4c4;

  .empty-cart-image {
    max-width: 80%;
    height: auto;
  }

  .empty-cart-row-1 {
    text-align: center;
    color: #c82333;
  }

  .empty-cart-row-2 {
    text-align: center;
    color: #5a6268;
  }
}


@media only screen and (max-width: $medium-device-size) {
  .popover {
    .non-empty-cart {
      width: 35em;
      font-size: 0.7em;

      .class-product-list {
        max-height: 250px;
      }

      .cart-subtotal-price, .cart-Total-price, .cart-discount-price {
        padding-right: 2.2em;
      }
    }
  }
}

@media only screen and (max-width: $extra-small-device-size) {
  .popover {
    .non-empty-cart {
      width: 38em;
      font-size: 0.6em;

      .cart-subtotal-price, .cart-Total-price, .cart-discount-price {
        padding-right: 2.5em;
      }
    }
  }
}