@import "../variables";

.our-product-txt {
  color: #4caf50;
  font-size: 2rem;
}

@media only screen and (max-width: $extra-small-device-size) {
  .our-product-txt{
    font-size: 1em;
  }
}

@media only screen and (max-width: $medium-device-size) {
  .our-product-txt{
    font-size: 1.2em;
  }
}