@use "../variables" as *;
@use "./coupon_preview" as *;

.coupons {
  .create-coupon-title {
    font-size: 1.1em;
    font-weight: 600;
  }

  .create-coupon {
    border: solid 1px #1e7e34;
    border-radius: 10px;

    .generate-coupon-code-btn-col {
      margin-top: 29px;

      .generate-coupon-code-btn {
        font-size: 0.5em;
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

    .form-group {
      .error-message {
        color: red;
        font-size: 0.7em;
      }

      input::-webkit-calendar-picker-indicator {
        cursor: pointer;
      }

      .form-label {
        margin-bottom: 4px !important;
        font-size: 0.8em;
      }
    }

    @include coupon-preview(white);

    .create-coupon-btn {
      background-color: #1e7e34;
      border: none;
    }
  }
}

@media only screen and (max-width: $medium-device-size) {
  .coupons {
    font-size: 0.8em;
    @include coupon-preview-mobile;
  }
}