@import "../variables";

.coupons {
  .create-coupon-title {
    font-size: 1.1em;
    font-weight: 600;
  }

  .create-coupon {
    border: solid 1px #1e7e34;
    border-radius: 10px;

    .generate-coupon-code-btn-col {
      margin-top: 29px;

      .generate-coupon-code-btn {
        font-size: 0.5em;
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

    .form-group {
      .error-message {
        color: red;
        font-size: 0.7em;
      }

      input::-webkit-calendar-picker-indicator {
        cursor: pointer;
      }

      .form-label {
        margin-bottom: 4px !important;
        font-size: 0.8em;
      }
    }

    .create-coupon-btn {
      background-color: #1e7e34;
      border: none;
    }
  }

  .coupon-preview {
    border: dashed 1px #1e7e34;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #a4ffa1;

    .coupon-preview-delete-btn {
      font-size: 0.6em;
    }

    .coupon-discount-percentage {
      color: #1e7e34;
      font-size: 2em;
      font-weight: 600;
    }

    .coupon-preview-dates-row {
      .coupon-preview-dates-text {
        font-size: 0.5em;
        background-color: #1e7e34;
        color: white;
        border: 4px solid white;
        margin-left: 3px;
        text-align: center;
        padding-top: 2px;
        font-weight: bold;
      }

      .coupon-preview-dates-col {
        font-size: 0.8em;
        padding-top: 2px;
      }
    }

    .coupon-preview-title-col {
      background-color: #1e7e34;
      color: white;
    }

    .coupon-code-col {
      background-color: #1e7e34;
      color: white;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: $medium-device-size) {
  .coupons {
    font-size: 0.8em;

    .coupon-preview {
      .coupon-preview-dates-row {
        .coupon-preview-dates-col {
          padding-top: 4px;
        }
      }
    }
  }
}