.swal2-popup {
  font-size: 0.8rem !important;
  font-family: 'Montserrat', sans-serif;

  .swal2-icon {
    margin-top: 0.9em;
  }

  .swal2-title {
    padding-top: 0.2em;
    font-size: 1em !important;
  }

  .swal2-html-container {
    margin-top: 0.5em;
    font-size: 0.8em !important;
  }
}