// Extra small screen / phone
$ex-extra-small-device-size:320px;
// Small screen / phone
$extra-small-device-size: 576px;
// Medium screen / tablet
$medium-device-size: 768px;
// Large screen / desktop
$large-device-size:992px;
// Extra large screen / wide desktop
$extra-large-device-size: 1200px;
// Background color of footer
$footer-background-color: #424242;
//Font color of footer
$footer-font-color: #ffffff;
//Color of logo and buttons in mainMiddleNavBar
$main-middle-navbar-logo-btn-color: #4caf50;
//Color of add to cart button
$add-to-cart-btn: #4caf50;